app:
  PORT: 9000

paths:
  logs_dir: "logs"
  models_dir: "assets/model"
  train_logs: "models/logs/train"
  checkpoints: "models/checkpoints"

logging:
  log_state: false
  log_action: false
  log_reward: false

simulation:
  time_step: 0.1                           # s
  max_steps: 10000                         # Max steps per episode before truncation
  loop: false

model:
  version: v3

environment:
  gravity: -9.81                           # m/s²
  air_density: 1.225                       # kg/m³
  num_rockets: 30

landing:
  thresholds:
    perfect:
      speed_vx: 30.0                       # m/s
      speed_vy: 30.0                       # m/s
      angle: 5.0                           # degrees
    good:
      speed_vx: 40.0                       # m/s
      speed_vy: 40.0                       # m/s
      angle: 8.0                           # degrees
    ok:
      speed_vx: 100.0                       # m/s
      speed_vy: 100.0                       # m/s
      angle: 10.0                          # degrees

rocket:
  thrust_power: 10000000                    # N
  cold_gas_thrust_power: 70000             # N
  fuel_consumption_rate: 1700              # kg / (s * throttle)
  radius: 1.85                             # m
  reference_area: 10.8                     # m²
  drag_coefficient: 0.8
  cold_gas_moment_arm: 1.85                # m
  angular_damping: 0.05

  position_limits:                         # meters
    x: [-1500.0, 1500.0]
    y: [1800.0, 2200.0]
  velocity_limits:                         # m/s
    vx: [-25.0, 25.0]
    vy: [-200.0, -150.0]
  acceleration_limits:                     # m/s² (Initial only, not enforced during sim)
    ax: [-5, 5]
    ay: [-5, 5]
  attitude_limits:                         # degrees
    angle: [-15, 15]
    angular_velocity: [-10.0, 10.0]
  mass_limits:
    dry_mass: [34000, 38000]               # kg (dry mass of the booster)
    fuel_mass: [370000, 410000]            # kg (initial fuel mass)

rl:
  tip_over_angle: 90.0
  max_horizontal_position: 50000.0
  max_altitude: 50000.0
  max_episode_steps: 1000

  rewards:
    landing_perfect: 4000.0
    landing_good: 3000.0
    landing_ok: 2000.0
    crash_ground: -800.0
    out_of_bounds: -300.0
    tipped_over: -300.0
    throttle_descent_reward_scale: 0.3
    cold_gas_reward_scale: 0.7
    free_fall_penalty_scale: 0.2
    angle_aware_throttle_scale: 0.3
    horizontal_correction_scale: 0.2
    throttle_penalty_factor: 0.0
    rcs_penalty_factor: 0.0
    correct_direction_bonus: 1.5
    time_penalty: -0.01
    gamma: 0.99

  training:
    total_timesteps: 1000000
    n_envs: 8
    eval_freq_steps: 25000
    checkpoint_freq_steps: 100000
    algorithm:
      PPO:
        learning_rate: 0.0003
        batch_size: 64
        n_steps: 2048
        gamma: 0.99
        ent_coef: 0.01
        n_epochs: 10
        gae_lambda: 0.95
        max_grad_norm: 0.5
        clip_range: 0.2
