:root {
  --bg: #282828;
  --fg: #ebdbb2;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --orange: #d65d0e;
  --gray: #a89984;
}

body {
  font-family: monospace;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--fg);
}

h1,
h2,
h3 {
  color: var(--yellow);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--aqua);
}

hr {
  border: 1px solid var(--orange);
  margin: 20px 0;
}

footer {
  text-align: center;
  margin-top: 50px;
}
