<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vertical rocket landing simulation</title>
        <link rel="stylesheet" href="{{ static_url("styles.css") }}">
        <script src="{{ static_url('app.js') }}"></script>
        {% block head %}
        {% end %}
    </head>
    <body>
        {% block toolbar %}
        {% end %}
        <main>
            {% block content %}
            {% end %}
        </main>
        {% block scripts %}
        {% end %}
    </body>
</html>
