@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply antialiased;
  }
}

/* uPlot Tooltip Override */
.u-tooltip {
  @apply rounded-lg border border-slate-200 bg-white/95 shadow-lg backdrop-blur text-xs font-mono !important;
}
